.HeaderWrapper {
  background-color: skyblue;
  margin:0;
  padding:0;
  color: white;
  display: flex;
  height: 17vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.MainContainer {
  display: flex;
  margin: 0;
  padding: 0;
}

.MenuWrapper {
  background-color: wheat;
  display: inline-block;
  margin:0;
  padding:0;
  width: 15vw;
  height: 100vh;
}

.MenuItem {
  padding: 11.5vh;
}

.MainWrapper {
  background-color: grey;
  width: 100vw;
  height: 100vh;
}

.MainContent {

}