.HeaderWrapper {
  margin:0;
  padding:0;
  color: skyblue;
  display: flex;
  height: 17vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-bottom: inset;
  border-color: #a6b1b2;
  position: fixed;
}

.Container {
  display: flex;
  margin: 0;
  padding: 0;
}

.MenuWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 12vw;
  padding-top: 14vh;
}

.MenuItem {
}

.MainWrapper {
  width: 100vw;
  height: 100vh;
}

.MainContent {

}

.AboutWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin:4vh;
}
