/* border-box 기능은 패딩이나 마진 값이 들어가도 width 값이 변화하지 않도로 해준다. */
* {
	box-sizing: border-box;
	outline: none;
}

/* 크롬, 사파리, 오페라 스크롤바 숨기기 */
*::-webkit-scrollbar {
	display: none;
}

* {
	/* 익스플로러, 앳지 스크롤바 숨기기*/
	-ms-overflow-style: none; 
	/* 파이어폭스 스크롤바 숨기기*/
	scrollbar-width: none; 
}

html {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

body {
	font-size: 22px;
	width: 100%;
	height: 100%;
  padding: 0;
  margin: 0;
	background: var(--body-color);
}


a,input {
  text-decoration: none;
	color: #5e5e5e;
}

button,input {
	font-family: inherit;
	font-size: 1rem;
	color: #5e5e5e;
}

@media(min-width: 1200px){
	html, body, button, input {
		font-size: 20px;
	}
}

@media(min-width: 768px){
	html, body, button, input {
		font-size: 18px; 
	}
}

.toastui-editor-contents,.toastui-editor-defaultUI, .ProseMirror {
	/* font-family: inherit !important; */
	font-size: 16px !important;
}