.home {
	display: flex;
	width: 100%;
	height: 80%;
	margin-top: 7%;
	flex-direction: column;
	font-size: 1.5rem !important;
	align-items: center;
	justify-content: center;

}

.box {
	margin-bottom: 2rem;
	display: flex;
	align-items: center;
	color: var(--category-color);
}

.allPostList {
	width: 100%;
	display: flex;
	margin-right: 10%;
	margin-bottom: 10px;
	/* font-size: 0.8rem; */
}

.btn {
	background-color: transparent;
	font-size: 0.8rem;
	border: none;
	cursor: pointer;
	color: rgb(103, 16, 113);
}

.link {
	color: purple;
	opacity: 0.4;
}

.repoBox {
	width: 100%;
	height: 100%;
	/* border: 2px solid black; */
	border-radius: 30px;
	padding: 30px;
	background-color: rgba(225, 225, 225, 0.697);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-size: 0.9rem;
	overflow: scroll;
}

.repo {
	width: 100%;
	display: flex;
	gap: 15px;
}

.repoName {
	width: 20%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.repoLanguage {
	width: 15%;
	font-size: 0.7rem;
}

.desc {
	width: 45%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	font-size: 0.7rem;
}

.updatedAt {
	width: 20%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	font-size: 0.7rem;
}

@media (max-width: 767px) {
	.home {
		margin-left: 0;
		font-size: 1rem;
	}
}

@media (max-width: 576px){
	
}